@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Header */
.header {
  padding: 10px;
  text-align: center;
  background: #041733;
  color: white;
}
* {
  box-sizing: border-box;
}
.button {
  background-color: #041733;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.pageref-container {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Creating Columns*/
/* Left column */
.leftcolumn {   
  float: left;
  width: 15%;
  height:500px;
  background-color: #f1f1f1;
  padding-left: 20px;
}
/* Right column */
.rightcolumn {
  float: right;
  width: 85%;
}

/* Profile Picture */
.profile {
  margin-left: -35px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body {
  margin: auto;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
}
blurb {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 30px 15px;
    margin-left: 60px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav ul, footer ul {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    margin-left: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 20px;
}
a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #333
}
a:hover {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    color: #999
}
h1 {
    margin-left: 30px;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}
p {
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
/* Timeline */
 #timeline {
	 font-size: 1em;
	 line-height: 1.75em;
	 border-top: 3px solid;
	 border-image: linear-gradient(to right, #091a36 0%, #79a3e8 100%);
	 border-image-slice: 1;
	 border-width: 3px;
	 margin: 0;
	 padding: 40px;
	 position: relative;
	 color: #34435e;
}
 #timeline:before {
	 content: "★";
	 position: absolute;
	 border-radius: 50%;
	 padding: 10px;
	 height: 1.25em;
	 width: 1.25em;
	 background-color: #34435e;
	 text-align: center;
	 line-height: 1.25em;
	 color: #fff;
	 font-size: 1em;
}
 #timeline:nth-child(odd) {
	 border-right: 3px solid;
	 padding-left: 0;
}
 #timeline:nth-child(odd):before {
	 left: 100%;
	 margin-left: -20px;
}
 #timeline:nth-child(even) {
	 border-left: 3px solid;
	 padding-right: 0;
}
 #timeline:nth-child(even):before {
	 right: 100%;
	 margin-right: -20px;
}
 #timeline:first-child {
	 border-top: 0;
	 border-top-right-radius: 0;
	 border-top-left-radius: 0;
}
 #timeline:last-child {
	 border-bottom-right-radius: 0;
	 border-bottom-left-radius: 0;
}
 

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    /*margin: 20px auto 40px;*/
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}
/* Timeline box size*/
.timeline {
  min-width: 150px;
  max-width: auto;
  margin: auto;
  padding: 20px;
}

/* Sidebar*/
 .sidebar {
     position: sticky;
     top: 0.5em;
     border-right: 1px solid #d5d5d5;
     width: 300px;
     min-width: 300px;
     height: 600px;
     background: #ffffff;
     padding: 2px;
 }
 .content {
     /*margin-left: 200px; /* Width of sidebar! */
     height: auto;
     /*width: auto;
     position: relative;*/
     background: #ffffff;
     overflow: auto;
     z-index: 1;
 }
.main-content{
  display: flex;
  height: auto;
  min-height: 700px;
  padding-bottom: 10px;
}

/* Collapsible Porfolio */
.collapsible {
  background-color: #041733;
  border-style: solid;
  border-color: white;
  font-family: 'Montserrat', sans-serif;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #0b2447;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.collapsecontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* Media and small screen formatting */
@media screen and (max-width: 500px) {
  .main-content{
  display: block;
  }
  .sidebar{
  	width: 100%;
    height: auto;
    position: static;
    border-bottom: 1px solid #d5d5d5;
  }
  .content{
  padding:10px;
  }
 .pageref-container {
  float: none;
  }
  /* Profile Picture */
  .profile {
  margin-left: -10px;
  }
  /* Timeline */
  .timeline {
	  min-width: 150px;
	  max-width: auto;
	  margin: auto;
	  padding: 15px;
	}
	#timeline:nth-child(odd) {
	 border-left: 0px solid;
	 padding-left: 0;
	}

 #timeline:nth-child(even) {
	 border-right: 0px solid;
	 padding-right: 0;
	}
	

}

