

<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<div id="main" role="main">
  		{% include sidebar.html %}
		
		<body>
			<!-- Header -->
			<div class="header">
			  <h1>Esther Putman</h1>
			  <p style= "color:#a4aab3;"> Aerospace engineering for the future of <b>humans in space</b></p>
			</div>
			
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/CV">CV</a></li>
	        		<li><a href="/portfolio">Portfolio</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:esther.putman@colorado.edu">email</a></li>
	        		<li><a href="https://github.com/eputman">github.com/eputman</a></li>
				</ul>
			</footer>
		</body>
	</html>
